[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opentelemetry-sdk = "*"
opentelemetry-api = "*"
opentelemetry-instrumentation-flask = "*"
opentelemetry-exporter-otlp = "*"
requests = "*"
python-json-logger = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
